* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-family: 'Press Start 2P';
    font-size: 2rem;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #222;
    color: rgb(255, 255, 255);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background: transparent;
    border-width: 0;
    position: relative;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    transition: .3s;
}
button span {
    display: block;
    position: relative;
    z-index: 3;
    background: #41294a;
    color: white;
    padding: 0 30px;
    line-height: 40px;
}
button:before {
    content: "";
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    left: -5px;
    top: -5px;
    background: #ff2c54;
    z-index: 1;
    transition: .4s ease-out;
}
button:after {
    content: "";
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    right: -5px;
    bottom: -5px;
    background: #41ebdf;
    transition: .4s ease-out .1s;
}
button:hover:before {
    transform: translate(5px, 5px);
}
button:hover:after {
    transform: translate(-5px, -5px);
}